html, body
{
	padding: 0;
	margin: 0;
	height: 100%;
	font-family: Helvetica, Arial, Sans-Serif;
	background: #eeebe9;
}

/*nav*/
nav ul, nav ul li, nav ul li ul{
	padding: 0;
	margin: 0;
}

nav{
	background-color: #333;	
	padding: 0 13%;
}

nav:before, nav:after, nav>ul:before, nav>ul:after{
	content: '';
	clear: both;
	display: block;
}

nav ul{
	background: #333;
	list-style: none;
}

nav ul li{
	float: left;
	position: relative;
}

nav ul li a {
	padding: 23px 38px;
	display: block;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	line-height: 18px;
}

nav > ul > li:hover > a{
	background: #76C2DB;
}

nav > ul > li.active > a, nav > ul > li > a:active{
	background: #bfbab5;
	color: #333;
}

nav > ul ul {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	background-color: #333;
}

nav > ul li:hover ul{
	opacity: 1;
	visibility: visible;
	top: 64px;
	left: 0;
}

nav > ul ul li {
	list-style: none;
}

nav > ul ul li a{
	padding: 18px 26px;
	display: block;
	color: #fff;
	font-size: 13px;
	text-decoration: none;
	width: 180px;
	border-left: 7px solid #888;
	border-right:  1px solid #888;	
	transition: all 0.25s ease-in-out;
}

nav > ul ul li:hover a{
	border-left: 7px solid #76C2DB;
	color: #76C2DB;
}

/*content stuff*/
.content{
	margin: 0 auto;
	padding-top: 15px;
	padding-bottom: 3%;
	padding-right: 15%;
	padding-left: 15%;
	min-height: 66%;
	overflow: auto;
}

.container {
	font-family: 'Open Sans';
	margin-bottom: 50px;
}

.header-container{
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 20px;
	padding-right: 280px;
	padding-left: 280px;
	background: #eeebe4;
	border-bottom: 1px solid #999;
	font-family: 'Open Sans';
}

h2
{
	margin-top: 40px;
}

p, .content li
{
	line-height: 1.5em;
}

.content li
{
	margin: 5px 0;
}

.content a:active, .content a:link
{
	color:#42B5DB
}

.content a:visited
{
	color: black;
}

.content a:hover
{
	color: #76C2DB;
}

.inner-container{
	border: 1px #76C2DB solid;
	box-shadow: inset 0 0 10px #76C2DB;
	padding: 15px;
	border-radius: 15px;
}

.inner-container-practice{
	padding: 20px;
	border: 1px #76C2DB solid;
	box-shadow: inset 0 0 10px #76C2DB;
	border-radius: 15px;
	
}

/*Appendix-specific*/
#dictionaryList
{
	padding: 0;
}

#dictionaryList li
{
	list-style-type: none;
	margin: 0;
}

#dictionaryList li a
{
	display: block;
	padding: 2%;
	margin: 20px;
	text-align: center;
	background-color: #42b5db;
	border-radius: 5px;
}

#dictionaryList li a:active, #dictionaryList li a:link, #dictionaryList li a:visited
{
	color: black;
	text-decoration: none;
}

#dictionaryList li a:hover
{
	background-color: #76c2db;
}

/*tables*/
table
{
	border-collapse: collapse;
}

td
{
	border: 1px solid black;
	padding: 5px;
}

.firstTable
{
	width: 100px;
	text-align: center;
}

.oddTable
{
	background-color: #76C2DB;
}

/*feedback area*/
#feedback, #success
{
	padding: 10px;
	margin: 10px auto;
	display: none;
	text-align: center;
}

#feedback ul
{
	list-style-type: none;
}

#success
{
	border: 2px solid green;
	background-color: #90db76;
}

/*user interaction*/
textarea
{
	width: 500px;
	height: 200px;
	margin: 10px 0;
}

input
{
	margin: 15px 5px;
}

/*regex tester*/
.selected
{
	background-color: #42B5DB;
	margin: 0 2px;
}

#error
{	
	background-color: #ff6666;
	border: 2px solid red;
	border-radius: 5px;
	padding: 5px;
	display: none;
	margin: 0 10px;	
}

footer {	
	background-color: #222;
	text-align: center;
	color: #fff;
	height: 20px;	
	bottom: 0;	
	padding: 25px;
	position: relative;
	clear: both;
	height: 30px;
	line-height: 15px;
}

/* index.php form */
#form {
	border: 1px #333 solid;
	box-shadow: inset 0 0 5px #000;
	padding: 30px;
}

#inner-form {
	border: 1px #b7b7b7 solid;
	padding: 10px 30px;
}

input[type=text] {
	width: 15%;
	padding: 5px 10px;
    display: inline-block;
    border: 1px solid #b7b7b7;
    border-radius: 7px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #b7b7b7;
    border-radius: 7px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #B3B3F1;
    color: white;
	font-weight:bold;
    padding: 18px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #5c5ce1;
}