.selected
{
	background-color: rgb(44,168,209);
	margin: 0 2px;
}

#error
{	
	background-color: #ff6666;
	border: 2px solid red;
	border-radius: 5px;
	padding: 5px;
	display: none;
	margin: 0 10px;	
}
